{{ define "title" -}} {{ .Title}}

<h2>Introduction</h2>
<div class="content-wrapper">
    <div class="text-content">
        <p>

        </p>
    </div>
</div>

<h3>Take a look around...</h3>
<ul>
    <li><a href="/blog">My blog posts</a></li>
    <li><a href="/about">About me</a></li>
</ul>

<br />
<hr>
<br />

<h2>Recent blog posts</h2>
{{ range first 5 (where .Site.RegularPages "Section" "blog") }}
<article>
    <p><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
    <p style="font-size: 0.8em">{{ .Summary }}</p>
    <p style="font-size: 0.8em"><a href="{{ .RelPermalink }}">Read More</a></p>
    <br />
</article>
{{ end }}

{{- end }}